h1 {
   text-align: center;
}

.document{
    padding-left: 31%;    
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;    
}

img {
    height: 13rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display:block;
    color:white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: dimgrey;
}