h1 {
  text-align: center; }

.document {
  margin-right: 20px; }

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  grid-auto-flow: row;
  align-items: center;
  margin-left: 10px; }
  .flex-container img {
    width: 150px;
    height: 150px;
    margin-left: 10px; }

img {
  height: 13rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black; }

li {
  float: left;
  width: 9.5rem;
  height: 6rem;
  text-decoration: none; }

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  height: 6rem; }

li a:hover {
  background-color: dimgrey;
  text-decoration: none; }

.mainSection {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1%; }
  .mainSection table {
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #ea4335; }

.grid-menu div {
  text-align: center;
  text-align: center;
  color: white;
  height: 20rem;
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem; }
  .grid-menu div img {
    width: 20px;
    width: 20px; }
.grid-menu div:hover {
  background-color: black;
  color: white; }
.grid-menu .menu-1 {
  background-color: #0092ff;
  color: white; }
  .grid-menu .menu-1 a {
    color: white;
    text-decoration: none; }
.grid-menu .menu-2 {
  background-color: #ffc41a;
  color: white; }
  .grid-menu .menu-2 a {
    color: white;
    text-decoration: none; }
.grid-menu .menu-3 {
  background-color: #75bd3f;
  color: white; }
  .grid-menu .menu-3 a {
    color: white;
    text-decoration: none; }
.grid-menu .menu-4 {
  background-color: #ff7b0f;
  color: white; }
  .grid-menu .menu-4 a {
    color: white;
    text-decoration: none; }
.grid-menu .menu-5 {
  background-color: #ea4335;
  color: white; }
  .grid-menu .menu-5 a {
    color: white;
    text-decoration: none; }
.grid-menu .menu-6 {
  background-color: #7d4297;
  color: white; }
  .grid-menu .menu-6 a {
    color: white;
    text-decoration: none; }

.mainpage {
  background-color: #0092ff;
  color: white;
  text-align: center; }
  .mainpage p {
    text-align: left; }

.totalenergypage {
  background-color: #7d4297;
  color: white;
  text-align: center; }
  .totalenergypage p {
    text-align: left; }

.renewalenergypage {
  background-color: #ff7b0f;
  color: white;
  text-align: center; }
  .renewalenergypage p {
    text-align: left; }

.aboutpage {
  background-color: #ffc41a;
  color: white; }

.industrypage {
  background-color: #75bd3f;
  color: white; }

.main-content {
  font-size: 1.5rem; }

.designTable tr th {
  background-color: #0092ff;
  margin-left: 10px; }
  .designTable tr th a img {
    width: 170px;
    height: 170px;
    margin-left: 10px; }

.container div div iframe {
  padding-top: 1rem; }
.container div div h1 {
  padding-top: 4rem; }
.container div div h2 {
  padding-top: 1rem; }
.container div div div img {
  padding-top: 1rem;
  padding-left: .5rem;
  width: 270px;
  height: 250px; }
.container div div div .icon {
  width: 5rem;
  height: 5rem; }

.designpage {
  background-color: #ea4335; }

/*# sourceMappingURL=new-main.css.map */
