//colors variables
$main-background:black;
$main-hovercolor:dimgrey;
$main-textcolor:white;
$menu-background1:#0092ff;
$menu-background2:#ffc41a;
$menu-background3:#75bd3f;
$menu-background4:#ff7b0f;
$menu-background5:#ea4335;
$menu-background6:#7d4297;
$main-font-size:1.5rem;
//mixins
@mixin hoverColorChange() {
    background-color: $main-background;
    color: $main-textcolor;
}

@mixin a-href-settings() {
    a {
        color: $main-textcolor;
        text-decoration: none;
    }
}

@mixin bodypage-settings() {
    color: $main-textcolor;
}

//main styles settings
h1 {
    text-align: center;
}

.document {
    margin-right: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap; 
    grid-auto-flow: row; 
    align-items: center;
    margin-left: 10px;
    img{
        width: 150px;
        height: 150px;
        margin-left: 10px;
    } 
}

img {
    height: 13rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $main-background;
}

li {
    float: left;
    width: 9.5rem;
    height: 6rem;
    text-decoration: none;
}

li a {
    display: block;
    color: $main-textcolor;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    height: 6rem;
}

li a:hover {
    background-color: $main-hovercolor;
    text-decoration: none;
}

.mainSection {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    table {
        text-align: center;
        align-items: center;
        width: 100%;
        background-color: $menu-background5;
    }
}

//menu styles only
.grid-menu {
     div {
        text-align: center;
        text-align: center;
        color: $main-textcolor;
        height: 20rem;
        text-decoration: none;
        font-size: 3rem;
        img{
                    width: 20px;
                    width: 20px;
        }
        padding: 1rem;
    }
    div:hover {
        @include hoverColorChange();
    }
    //nesting
    .menu-1 {
        background-color: $menu-background1;
        color: $main-textcolor;
        @include a-href-settings();
    }
    .menu-2 {
        background-color: $menu-background2;
        color: $main-textcolor;
        @include a-href-settings();
    }
    .menu-3 {
        background-color: $menu-background3;
        color: $main-textcolor;
        @include a-href-settings();
    }
    .menu-4 {
        background-color: $menu-background4;
        color: $main-textcolor;
        @include a-href-settings();
    }
    .menu-5 {
        background-color: $menu-background5;
        color: $main-textcolor;
        @include a-href-settings();
    }
    .menu-6 {
        background-color: $menu-background6;
        color: $main-textcolor;
        @include a-href-settings();
    }
}

.mainpage {
    background-color: $menu-background1;
    @include bodypage-settings();
    text-align: center;
    p{
        text-align: left;
    }
}

.totalenergypage {
    background-color: $menu-background6;
    @include bodypage-settings();
    text-align: center;
    p{
        text-align: left;
    }
}

.renewalenergypage {
    background-color: $menu-background4;
    @include bodypage-settings();
    text-align: center;
    p{
        text-align: left;
    }
}


.aboutpage {
    background-color: $menu-background2;
    @include bodypage-settings();
}

.industrypage {
    background-color: $menu-background3;
    @include bodypage-settings();
}

.main-content{
    font-size: $main-font-size;
}

.designTable{
    
    tr {
        th {
            background-color: $menu-background1;
            margin-left: 10px;
            a {
                img {
                    width: 170px;
                    height: 170px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.container{
    div {
        div {
            iframe{
                padding-top: 1rem;
            }
            h1{
                padding-top: 4rem;
            }
            h2 {
                padding-top: 1rem;
            }
            div{
                img {
                    padding-top: 1rem;
                    padding-left: .5rem;
                    width: 270px;
                    height: 250px;
                }
                .icon{
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
}


.designpage{
    background-color: $menu-background5;
}

@media screen and (min-width: 480px){

}